@page "/"
@using HeadHunter.Client.Components

<PageTitle>Index</PageTitle>

<h1 class="valorant">Home</h1>

<div class="row gap-3 justify-content-evenly">
    <div class="col-sm-12 col-md-5 home-card">
        <Timeline Title="Events" Events="@EventData.Data" />
    </div>
    <div class="col-sm-12 col-md-5 home-card">
        <Timeline Title="Events" Events="@EventData.Data" />
    </div>
</div>
<div class="row gap-3 pt-3 justify-content-evenly">
    <div class="col-sm-12 col-md-5 home-card">
        <Timeline Title="Events" Events="@EventData.Data" />
    </div>
    <div class="col-sm-12 col-md-5 home-card">
        <Timeline Title="Events" Events="@EventData.Data" />
    </div>
</div>

