@inherits LayoutComponentBase

<div class="page">
    <NavMenu />
    <main>
        <div class="valorant user px-4" style="background-color: transparent; display: flex; justify-content:end; height: 3.5rem; align-items: center">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">Logged in User</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
