@inherits LayoutComponentBase

<div class="page">
    <main>
        <div>
            <img src="img/chamber.svg" class="global-background">
        </div>

        <div class="valorant user px-4" style="background-color: transparent; display: flex; justify-content:space-between; height: 3.5rem; align-items: center">
            <a class="navbar-brand" href="/">HeadHunter</a>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">Logged in User</a>
        </div>
        <div class="d-flex">
            <NavMenu />
            <article class="container-fluid content px-4" style="width: calc(100vw - 165px);">
                @Body
            </article>
        </div>
        
    </main>
</div>
