@use "sass:map";
@use 'variables' as v;

.timeline-wrapper {
    max-height: calc(100% - 50px);
    overflow-y: scroll;

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: rgba(0,0,0,0.8);
    }

    &::-webkit-scrollbar {
        width: 5px;
        background-color: map.get(v.$colors, "primary");
    }

    &::-webkit-scrollbar-thumb {
        background-color: map.get(v.$colors, "primary");
    }
}

.timeline {
    list-style-type: none;
    position: relative;
}

.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

.timeline > li {
    margin: 20px 0;
    padding-left: 20px;

    &:hover {
        padding-left: 2rem;
        font-weight: bold;

        &:before {
            border: 5px solid map.get(v.$colors, "primary");
        }
    }
}

.timeline > li:before {
    content: ' ';
    background: map.get(v.$colors, "background");
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid map.get(v.$colors, "secondary");
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}


.timeline.active > li:before {
    content: ' ';
    background: map.get(v.$colors, "secondary");
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid map.get(v.$colors, "secondary");
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
