$primary: #FD4556;
$secondary: #BD3944;
$accent: #53212B;
$background: #000000;

$colors: (
    "primary": $primary,
    "secondary": $secondary,
    "accent": $accent,
    "background": $background,
);

$appbar-height: 56px;