@use "sass:map";
@use 'variables' as v;

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: rgba(0,0,0,0.8);
}

::-webkit-scrollbar {
    width: 5px;
    background-color: map.get(v.$colors, "primary");
}

::-webkit-scrollbar-thumb {
    background-color: map.get(v.$colors, "primary");
}

body {
    background-color: map.get(v.$colors, "background");
    color: map.get(v.$colors, "primary");
    overflow-x: hidden;
}

.home-card {
    background: rgba(0,0,0,0.8);
    border: 2px solid map.get(v.$colors, "secondary");
    border-radius: 1rem;
    max-height: 400px;
    overflow-y: scroll;
}

.red-primary-text {
    color: map.get(v.$colors, "primary") !important;
}
.red-primary-background {
    color: map.get(v.$colors, "primary") !important;
}
.red-secondary-text {
    color: map.get(v.$colors, "secondary") !important;
}
.secondary-text {
    color: #d7d7d7;
}
.red-secondary-background {
    color: map.get(v.$colors, "secondary") !important;
}
.valorant,
.valorant a {
    color: map.get(v.$colors, "primary") !important;
    font-family: 'VALORANT', sans-serif;
    text-decoration: none !important;
}
.valorant.user {
    background-color: transparent;
    display: flex;
    justify-content: end;
    height: 3.5rem;
    align-items: center
}